<!DOCTYPE html>
<html>
    <head>
        <title>{{ TITLE|e }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        {% block contents %}{% endblock %}
    </body>
</html>